
*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

.body {
    background-color:rgba(240, 240, 240, 0.6);
}
.header{
	position: relative;
	height: 140px;
  	width: 100%;
 	background-color: black;
 	color: white;
    align-items: center;
    display: flex;

}

.header input[type=text] {
    margin-left: auto;
    margin-right: auto;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 30px;
}

.header h1{
    padding: 5px 5px 5px 5px;
    margin-left: 10px;
}

.header h3{
    padding: 5px 5px 5px 5px;
    margin-right: 10px;
}

.buttons{
    list-style: none;
    display: flex;
}

.navbar{
	list-style:none;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
	width: 100%;
	background-color: white;
	color: black;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);


}

a:link {
    text-decoration: none;
    color:inherit;
}

.navbar li {
    display: inline-block;
    padding: 0px 100px;
    font-size: 20px;
}

.landing img {
    width: 100%;
    height: auto;
    opacity: 0.8;
}

.landing .btn1 {
    position: absolute;
    top: 70%;
    left: 25%;
    background-color: black;
    color: white;
    font-size: 30px;
    padding: 10px 20px;
}

.landing .btn2 {
    position: absolute;
    top: 70%;
    right: 25%;
    background-color: black;
    color: white;
    font-size: 30px;
    padding: 10px 20px;
}


.Bestsellers{
	height: 600px;
	width: 100%;
}

.Bestsellers h1 {
    text-align: left;
    padding: 40px 100px;

}

.Bestsellers-container {
	position: relative;
	left: 100px;
	margin: auto;
	background: white;
	overflow: auto;
	display: flex;
	justify-content: center;
}

.gallery {
	margin: 5px 100px 5px 5px;
	border: 1px solid white;
	float: left;

}

.gallery img {
	width: 100%;
	height: 350px;
	margin-left:auto;
	margin-right: auto;


}

.desc{
	padding: 15px;
	text-align: center;
    font-size: 25px;
}

.banner1-container {
    height:600px;
    width: 100%;
    background-color: rgba(187, 205, 231, 0.64);
	text-align: left;
	position: relative;

}

.banner1 {
	display: flex;
	flex-direction: row-reverse;
	position: absolute;
	height: 50%;
	top: 20%;
}

.banner1-imgcol {
	text-align: right;
}

.banner1-textcol {
	padding: 0 100px;
}

.banner1 .btn3 {
    top: 70%;
    right: 25%;
    background-color: black;
    color: white;
    font-size: 30px;
    padding: 10px 20px;
}

.banner2-container{
	height:600px;
    width: 100%;
    background-color: rgba(240, 240, 240, 0.6);
    text-align: right;
	position: relative;
}

.banner2{
	display: flex;
	position: absolute;
	height: 50%;
	top: 20%;
}

.banner2-imgcol{
	text-align: left;
	padding: 0 100px;

}

.footer-container {
    background-color: black;
    color: white;
    padding-bottom: 4rem;
    box-sizing: border-box;
}

.footer {
    width: 100%;
    height; 40vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;


}

.footer-heading {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}

.footer-heading h2 {
    margin-bottom: 2rem;
}

.footer-heading a {
    color: white;
    margin-bottom: 0.5rem;
}



/*Product page Shop Dog*/


.product-container {
    position: relative;
    height: 1500px;
    left: 100px;
    top: 100px;
}

.productgallery {
	margin: 100px 100px 5px 5px;
	border: 1px solid rgba(240, 240, 240, 0.6);
	float: left;
    justify-content: space-between;
    

}

.productgallery img {
	width: 100%;
	height: 350px;
	margin-left:auto;
	margin-right: auto;
}

/*Product page detail*/

.detail-body {
    padding: 100px 0px 0px 100px;   
    background-color:rgba(240, 240, 240, 0.6);
    height: 1000px;

}


.content {
    display: flex;
    padding: 50px 100px 0px 0px;
}

.detail-container {
    text-align: left;
    padding: 20px 20px 20px 20px;
    position: relative;
    left: 20px;

}

.large-image {
    left: 20px;
    position: relative;
}
.img-container img {
    height: 30px;
    left: 100px;
    right: 20px;
    position: absolute;

}

.Sz{
    margin: 25px 5px 25px 5px;

}

.Colors{
    margin: 25px 5px 25px 5px;
}

.Select {
    font-style: italic;
    font-size: 15px;
    margin: 0 0 20 0;
}

.Sizes{
    list-style: none;
    display: flex;
}

.size {
    display: flex;
    border: 1px solid gray;
    background-color: rgba(240, 240, 240, 0.6);
    box-shadow: 3px 3px 5px 1px rgba(0,0,0,.8);
    padding: 2% 5%;
    width: 10%;
    margin: 10px 10px 10px 10px;
}

.detail-container .btn1 {
    margin: 75px 0px 75px 0px;
    background-color: black;
    color: white;
    font-size: 30px;
    padding: 10px 20px;

}

.Reviews {
    display: flex;
}