*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

.body {
    background-color:rgba(240, 240, 240, 0.6);
}
.header{
	height: 140px;
  	width: 100%;
 	background-color: black;
 	color: white;
    display: grid;
    grid-template-columns: 35% 35% 10% 10% 10%;
    align-items: center;
    grid-auto-flow: column;
    gap: 4px;

}

.header input[type=text] {
    margin-left: auto;
    margin-right: auto;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 30px;
}

.header h1{
    padding: 5px 5px 5px 5px;
    margin-left: 10px;
}

.header h3{
    padding: 5px 5px 5px 5px;
    margin-right: 10px;
}

.navbar{
	list-style:none;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
	width: 100%;
	background-color: white;
	color: black;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);


}

a:link {
    text-decoration: none;
    color:inherit;
}

.navbar li {
    display: inline-block;
    padding: 0px 100px;
    font-size: 20px;
}


.container {
    display: grid;
    grid-template-columns: 70% auto;
    height: 100%;

}

.checkout {
    margin-left: 30px;
    padding-top: 60px;
    display: grid;
    grid-gap: 30px;
}

.cartitems {
    display: grid;
    grid-template-columns: auto 70%;
    grid-gap: 30px;
}

.collar {
    display:grid;
    grid-template-columns: auto 70%;
}

.promo, h5 {
    color: gray;
    font-size: 14px;
}

.promo input, .greyboxtext input {
    width: 250px;
    height: 25px;
}

.italicized {
    font-style:italic;
    font-size: 10px;
}


.cost {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 12px;
    grid-gap: 3px;

}

#total {
    font-size: 14px;
    font-weight: bold ;
}

.flow {
    margin-top: 30px;
    display: grid;
    grid-template-rows: 70% 15% 15%;
    grid-gap: 30px;
}

.greybox {
    background: rgba(240, 240, 240, 0.6);
}

.greyboxtext {
    margin-left: 100px;
    margin-top: 30px;
}

.create, .login {
    width: 250px;
    background-color: black;
    color: white;
    font-size: 15px;
    padding: 10px 20px;
    margin: 10px 0px 0px 0px;
}